<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= t(:"views.system_settings.show.title")%></h1>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div id="input-form">
            <%= render partial: 'show_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
