<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= t(:"views.job_histories.index.title")%></h1>
      </div>
      <div class="col-sm-6">
        <div class="float-sm-right">
        </div>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'search_results' %>
      </div>
    </div>
  </div>
</section>

