<div class="form-group form-inline input-group-sm align-items-start">
  <%= form.input :workflow_name, input_html: {col: 3} %>
  <%= form.input :deletable %>
</div>
<div class="form-group form-inline input-group-sm align-items-start">
  <%= form.input :site_ids, as: :check_boxes,
                 collection: @sites.map{|x| [x.site_name,x.id]},
                 item_wrapper_class: "form-check-inline",
                 input_html: {col: 3}
  %>
</div>
<div id = "form_issue_type">
  <%= render partial: 'form_issue_type' %>
</div>
